body > * {
  display: block;
  margin: auto auto 0.5em auto;
  max-width: 800px;
}
body.prose > * {
  text-align: left;
}
body > img {
  padding: 0.5em;
}
body {
  font-family: "Courier New", monospace;
  text-align: center;
}
#logos > a > img {
  width: 3em;
}
.grid-reset > * {
  margin: 0px;
}
.code {
  background-color:lightgrey;
}
.gist-data {
  max-height: 400px;
}