Redirect 301 /rants/2024-bcsc-2600.html /translation_of_fr_reasons/2024-bcsc-2600.html
Redirect 301 /rants/bandaogo.html /translation_of_fr_reasons/bandaogo.html
Redirect 301 /rants/paiement.html /translation_of_fr_reasons/paiement.html
Redirect 301 /rants/sinclair.html /translation_of_fr_reasons/sinclair.html
Redirect 301 /rants/sinclair2.html /translation_of_fr_reasons/sinclair2.html
Redirect 301 /rants/sinclair3.html /translation_of_fr_reasons/sinclair3.html